<!DOCTYPE html>
<html>
<head>
  <title>Планирование тестирования</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
  
    <body>
        <header>
          <a href="/register"><img src="/static/img/create_akk.png" alt="Создать аккаунт" title="Создать аккаунт" style="height: 50px; height: 50px;float: right; padding-right: 20px"></a>
          <h1>Система планирования тестирования</h1>
        </header>
        <nav>
          <ul>
            <li><a href="/main">Главная</a></li>
            <li><a href="/projects">Мои проекты</a></li>
            <li><a href="/case">Чек-лист</a></li>
            <li><a href="/environments">Тестовое окружение</a></li>
            <li><a href="/for_qa">Регламент работы</a></li>
          </ul>
        </nav>
  <main class="items">
    <h2><a href="/static/doc.pdf" target="_blank">Документ с описанием регламента работы тестировщика</a></h2>
<h2>Полезные ссылки:</h2>
<ul>
  <li><a href="https://www.youtube.com/@rusau" target="_blank">Artsiom Rusau QA Life</a> - обучающие материалы по ручному тестированию</li><br>
  <li><a href="https://www.youtube.com/@user-lg9vr9bv6c" target="_blank">Алекс Смит</a> - обучающие материалы по ручному тестированию и автоматизации</li><br>
  <li><a href="https://www.youtube.com/@HillelITSchool"target="_blank" >Hillel IT School</a> - лекции и доклады по тестированию</li><br>
  <div><p><a href="https://software-testing.ru/" target="_blank">https://software-testing.ru/</a></p><p><a href="https://www.ministryoftesting.com/" target="_blank">https://www.ministryoftesting.com/</a></p><p><a href="https://artoftesting.com/" target="_blank">https://artoftesting.com/</a></p><p><a href="https://testengineer.ru/" target="_blank">https://testengineer.ru/</a></p><p><a href="https://www.guru99.com" target="_blank">https://www.guru99.com/</a></p></div>
</ul>
  </main>
  <footer>
    <p>© 2024 Система планирования тестирования. Все права защищены.</p>
  </footer>
</body>
</html>